<ion-header>

    <ion-navbar color="primary">
        <ion-buttons left menuToggle>
            <button ion-button icon-only>
                <img src="./assets/imgs/Side menu.png" class="menu-icon" />
            </button>
        </ion-buttons>
        <ion-title text-center>My Reminder</ion-title>
        <ion-buttons right>
            <button ion-button icon-only>
                <img src="./assets/imgs/Search_White.png" class="menu-icon" />
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>

<ion-content padding class="reminder-container">
    <div *ngIf="reminderData">
        <ion-card class="reminder-card" *ngFor="let reminder of reminderData">
            <ion-list>
                <ion-item>
                    <ion-thumbnail item-start>
                        <img [src]="reminder.event_image">
                    </ion-thumbnail>
                    <h2 text-wrap>{{ reminder.reminder_title }}</h2>
                    <div style="margin-top: 8px;">
                        <img src="./assets/imgs/Address.png" class="card-location" />
                        <span style="font-size: 14px; color: #c1c1c1">{{ reminder.landmark }}</span>
                    </div>
                </ion-item>
                <hr>
                <ion-row>
                    <ion-col col-6 style="padding-left: 10px">
                        <img src="./assets/imgs/Clock.png" class="card-bottom-img" />
                        <span style="font-size: 12px;">{{ reminder.event_time }}</span>
                    </ion-col>
                    <!-- <ion-col col-2></ion-col> -->
                    <ion-col col-6 style="padding-right: 10px">
                        <span style="font-size: 12px; float: right;">{{ reminder.event_date }}</span>
                        <img src="./assets/imgs/calendar.png" style="float: right" class="card-bottom-img" />

                    </ion-col>
                </ion-row>
            </ion-list>
        </ion-card>
    </div>
</ion-content>